@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body:not(.dark-mode) {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
}

body.light-mode {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
}

body.dark-mode {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
}
