@import './variables.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    background-color: var(--color-bg-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

body.dark-mode .header {
    background-color: var(--color-bg-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header__logo {
    margin-right: auto;
}

.header__logo img {
    width: auto;
    max-height: 4em;
}

body.dark-mode .header__logo img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    padding: 1em;
    text-decoration: none;
    transition: color 0.3s;
}

.header__nav a:hover {
    color: var(--color-primary);
}

body.dark-mode .header__nav a {
    color: white;
}

.dark-mode-btn {
    padding: var(--spacing-sm);
    border-radius: 9999px;
    border: none;
    background-color: var(--color-button-light);
    cursor: pointer;
    font-size: 1.25rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.dark-mode-btn:hover {
    transform: scale(1.05);
}

body.dark-mode .dark-mode-btn {
    background-color: var(--color-button-dark);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    padding: 0.5rem;
}

body.dark-mode .menu-toggle {
    color: white;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        order: 2;
    }

    .header__nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-bg-light);
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .header__logo img {
        margin-top: .5em;
    }   

    .dark-mode-btn {
        margin-bottom: .4em;
    }

    body.dark-mode .header__nav {
        background-color: var(--color-bg-dark);
    }

    .header__nav.show {
        display: flex;
    }

    .header__nav a {
        padding: 1rem;
        justify-content: center;
    }

    .dark-mode-btn {
        order: 3;
    }
}

@media (max-width: 480px) {
    .header__nav a span {
        font-size: .8em;
    }

    .header__nav a {
        font-size: 1.5rem;
        /* Ícones maiores */
    }
}